/* theme colors of the website */
:root {
    --white: #FFFFFF;
    --darkg: #574b60;
    --darkp: #3f334d;
    --grey: #7d8491;
    --lgrey: #c0c5c1;
    --offwhite: #eaf0ce;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--offwhite);
    line-height: 1.6;
    font-family: "Aleo", serif;
    color: var(--darkg);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: var(--darkp);
}

a:hover {
    color: var(--grey);
}


/* navbar styles start*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    min-height: 80px;
    background-color: var(--offwhite);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0px 20px;
    z-index: 1;
    box-shadow:  #3f334dbd 0px 0px 2px;
}

.main {
    padding-top: 80px;
}

.nav-logo {
    margin-right: auto;
    flex-shrink: 1;
}

.nav-logo-text {
    font-weight: 900;
    font-size: 1.8rem;
}

.nav-search {
    display: flex;
}

.nav-search-input {
    height: 2.3rem;
    line-height: 2.3rem;
    border: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 1.2rem;
    width: 300px;
}

.nav-search-form {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.dropsearch > button, .search-button {
    padding: 5px;
    border-radius: 50px;
    width: 30px;
    aspect-ratio: 1;
    position: relative;
    left: -40px;
    border: 1px;
}

.dropsearch > button:hover, .search-button:hover {
    background-color: var(--offwhite);
    transition: 0.2s;
}

.nav-search-input:focus {
    outline: none;
}


.nav-links-div {
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 15px;
    font-weight: 600;
    margin-right: 10px;
    justify-content: space-between;
    align-items: center;
}

.large-font {
    font-size: 1rem;
    font-weight: 700;
}

.nav-link a:hover {
    color: var(--grey);
}

.nav-icons-div {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
}

.nav-icon {
    padding: 10px;
    border-radius: 50px;
}

.nav-icon:hover {
    box-shadow: var(--grey) 0px 0px 2px;
    transition: 0.2s;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1100px) {
    .nav-item {
        display: none;
    }

    .hamburger {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 505px) {
    .navbar {
        height: auto;
        padding-bottom: 5px;
    }

    .navbar-logo-text {
        font-size: 1.5rem;
    }
}

ul {
    padding: 0px;
    list-style-type: none;
}

ul>li {
    padding-left: 10px;
}

.add-cart-btn {
    border: none;
    background-color: #3f334d;
    border-radius: 50px;
    color: var(--offwhite);
    aspect-ratio: 1;
    width: 35px;
}

.add-cart-btn:hover {
    background-color: var(--darkg);
    color: var(--white);
    transition: 0.3s;
}

.dropdown>button {
    border: none;
    color: var(--darkp);
    background: none;
}


.dropdown>button:hover {
    color: var(--grey);
}

.dropdown {
    position: relative;
}

/* hamburger dropdown */
.dropdown-content {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: -150px;
    z-index: 1;
    background-color: var(--offwhite);
    padding: 15px;
    border-radius: 15px;
}




/* navbar dropdown */
.dropdown-navlinks {
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
    background-color: var(--offwhite);
    padding: 15px;
    border-radius: 15px;
    text-align: right;
    position: absolute;
    right: 0px;
    top: 45px;
}

.dropsearch-input {
    width: 180px;
}

.show {
    display: flex;
}



/* footer styles */
.footer {
    background-color: var(--darkg);
    color: var(--offwhite);
    padding: 30px;
}

.footer a {
    color: var(--offwhite);
}

.footer-logo {
    font-size: 30px;
    font-weight: 700;
}

.footer a:hover {
    color: var(--grey);
}

.footer-container {
    display: flex;
}

.footer-right {
    text-align: right;
    margin-left: auto;
}

.copyright {
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: -25px;
}


/* home page */
.promo-img {
    width: 100%;
    height: 400px;
    background-color: var(--darkp);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--darkp);
    background-image: url("pics/hero-img.jpeg");
    background-size:cover;
    background-position: 90% 90%;
}



.browse-row-img {
    background-image: url("pics/browse-img.jfif");
    background-size:cover;
    background-position: 90% 90%;
    width: 40%;

}

.promo-text {
    background-color: var(--offwhite);
    padding: 15px;
    border-radius: 10px;
    width: auto;
}

.hero-button {
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--darkg);
    color: var(--offwhite);
}

.hero-button:hover {
    color: var(--lgrey);
    background-color: var(--darkp);
    transition: 0.2s;
}

.hero-img {
    padding-left: 30px;
    gap: 10px;
}

.promo-text,
.browse-title {
    font-size: large;
    font-weight: 600;
    width: 200px;
    text-wrap: wrap;
}


.browse-row {
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height: 400px;
    background-color: var(--darkp);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--lgrey);
}


.browse-1>* {
    max-width: 200px;
}


.browse-1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.browse-2 {
    border: #000000 solid 1px;
    align-self: flex-end;
    margin-left: auto;
    width: 700px;
    height: 85%;
}

.browse-product-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
    row-gap: 40px;
}

.browse-product {
    width: 48%;
    display: flex;
    align-items: center;
    background-color: var(--lgrey);
    padding: 20px;
    height: auto;
    justify-content: space-around;
    color: var(--darkp);
    gap: 10px;
}

.product-type-img {
    flex-shrink: 0;
    width: 170px;
    height: 170px;
}

.product-type-img > img {
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .browse-product {
        width: 100%;
    }
}

.line-break {
    width: 85%;
    border-radius: 5px;
    height: 2px;
    background-color: rgb(2, 48, 71, 0.3);
    margin: auto;
    margin-bottom: 50px;
}


/* carousel style */
.carousel-row {
    width: 100%;
    background-color: rgba(125, 132, 145, 0.288);
    margin-top: 50px;
    height: fit-content;
    padding: 20px 40px;
}


.carousel-title-div {
    display: flex;
    justify-content: space-between;
}

.carousel-title {
    font-size: 18px;
    font-weight: 700;
}


.carousel-group {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.carousel-arrow {
    display: flex;
    justify-content: center;
    margin-block: auto;
    border: none;
    background: none;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
    opacity: 0.9;
}

.carousel-arrow--prev {
    margin-right: 20px;
}

.carousel-arrow--next {
    margin-left: 20px;
}

.carousel-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    align-items: center;
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
}

.carousel-item {
    border: 2px var(--darkg) solid;
    border-radius: 10px;
    aspect-ratio: 1;
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.carousel-item:hover {
    box-shadow: 0px 3px 5px var(--darkg);
}

.carousel-item > img, .carousel-item > a > img{
    border-radius: 10px;
    margin-bottom: 10px;
}

.item-name, .item-price {
    height: 50px;
}

.carousel-item > .line-break {
    margin-bottom: none;
}

@media (max-width: 1000px) {
    .carousel-item {
        flex: 1 0 33.3%;
    }
}

@media (max-width: 800px) {
    .carousel-item {
        flex: 1 0 50%;
    }
}

@media (max-width: 600px) {
    .carousel-item {
        flex: 1 0 100%;
    }
}

.carousel-container::-webkit-scrollbar {
    height: 12px;
}

/* Define the thumb style */
.carousel-container::-webkit-scrollbar-thumb {
    background: var(--darkp);
    border-radius: 5px;
}

/* Define the track style */
.carousel-container::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.carousel-container::-webkit-scrollbar-button {
    display: none;
}



/* newsletter row */
.newsletter-row {
    width: 100%;
    height: 200px;
    color: var(--darkp);
    padding: 50px;
    margin-top: 15px;
    gap: 20px;
    font-size: 1.2rem;
    height: fit-content;
}


.newsletter-title {
    min-width: 100%;
}

.newsletter-content {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content>div {
    flex: 1 0 50%;
}

.newsletter-form {
    text-align: center;
}

.email-input {
    padding: 15px 15px;
    background-color: var(--lgrey);
    width: 300px;
}

.email-input,
.email-submit {
    border-radius: 10px;
    border: none;
}

.email-submit {
    margin-left: 20px;
    background-color: var(--darkp);
    transition: 0.2s;
    color: var(--offwhite);
}

.email-submit:hover {
    /* background-color: rgb(251, 133, 0); */
    color: var(--grey);
}


.guarantee-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    padding-bottom: 20px;
}

.guarantee-title {
    font-weight: 700;
    overflow: visible;
    text-wrap: nowrap;
}

.guarantee-icon {
    width: 150px;
    aspect-ratio: 1;
    margin-bottom: 5px;
}

.guarantee-icon > img {
    border-radius: 10px;
}

.guarantee-box {
    text-align: left;
    width: 150px;
}


/* all_products_page starts here */
.products-hero {
    margin: 30px 10px;
    text-align: center;
}


/* login_page/register_page starts here */
.login-greet, .register-greet {
    margin-top: 20px;
    text-align: center;
    color: var(--darkp);
}

.register-div input, 
.login-div input, 
select, 
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .register-div label,
  .login-div label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: var(--offwhite);
  }
  
  .register-div input[type=submit],
  .login-div input[type=submit] {
    width: auto;
    background-color: var(--offwhite);
    color: var(--darkp);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: auto;
  }
  
  .register-div,
  .login-div {
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: var(--darkg);
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: right;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .submit-row {
    display: flex;
    justify-content: center;
  }

  .remember {
    text-align: right;
    display: flex;
    justify-content: center;
  }

  .remember > input[type=checkbox] {
    width: auto;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75,.login-div input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

    .login-div, .register-div {
        width: 90%;
    }

    .col-25 {
        text-align: left;
    }
  }
